@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  background-color: #fff;
}
.container {
  width: 100%;
  max-width: 1370px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.div-logo:hover img {
  transform: rotateY(3600deg);
  transition: transform 20s linear;
}
@media screen and (max-width: 640px) {
  .div-logo {
    zoom: 0.6;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1F2937;
}
p{
  color: #1F2937;
}